.card {
  width: 100%;
  margin-bottom: 20px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 170px;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-author {
  font-size: 14px;
}

.card-username {
  text-decoration: none;
  color: #d30000;
  font-weight: bold;
}

.avatar {
  height: 50px;
  width: 50px;
  min-width: 50px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .avatar {
    font-size: 20px;
  }
  .card-flex {
    flex-direction: column;
    align-items: flex-start;
  }

  .card-body {
    min-height: 244px;
  }
}

.card-flex {
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .card-flex {
    flex-direction: column;
    align-items: stretch;
  }
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.card-infos {
  padding-left: 10px;
  padding-bottom: 20px;
}

.card-title,
.card-content {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Limits text to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
