<div class="card">
  <div class="card-body">
    <app-post-detail
      *ngIf="showDetails"
      [post]="post"
      [user]="user"
    ></app-post-detail>
    <div class="card-flex">
      <div class="avatar" (click)="openDetail()">
        {{ getInitials(user.name) }}
      </div>
      <div class="card-infos">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-author">
          Pubblicato da: <span class="card-username">{{ user.username }}</span>
        </p>
      </div>
    </div>
  </div>
</div>
