@import "../../styles/variables";

.post-list {
  display: flex;
  flex-direction: column; /* Default list view */
  padding: 20px;
  margin: 10px;
}

.post-list.grid-view {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(250px, 1fr)
  ); /* Creates a responsive grid */
  grid-gap: 20px; /* Space between grid items */
}
.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;

  button {
    padding: 8px 16px;
    margin: 0 10px;
    background-color: $main-button-color;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100px;

    &:hover {
      background-color: #9e9e9e;
      transform: translateY(-2px);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    }

    &:disabled {
      background-color: #ccc;
      color: #666;
      cursor: not-allowed;
      box-shadow: none;
    }
  }

  span {
    margin: 0 10px;
    font-weight: 600;
  }
}
