@import "../../styles/variables";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.5rem;
  border-bottom: 1px solid transparent;

  &.dark {
    background-color: $background-dark;
    border-bottom-color: $border-dark;

    a {
      color: #f8f9fa;
    }

    .nav-link:hover {
      color: #ddd;
    }
  }

  &.light {
    background-color: $background-light;
    border-bottom-color: $border-light;

    a {
      color: #343a40;
    }

    .nav-link:hover {
      color: #0056b3;
    }
  }
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 600;
}

.theme-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border: none;
  background: none;
  cursor: pointer;

  svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  &:hover {
    transform: scale(1.1);
  }
}
